extends layout

block content
	div#container
		div.row-fluid
			h1 活動辦法
			hr
		div.row-fluid
			div.span12
				h2 活動時間
		div.row-fluid.well
			div.span12
				h4 各系提名
				p 2013 年 3 月 25 日 至 3 月 27 日 止 
				h4 網路票選
				p 2013 年 4 月 2 日 至 4 月 11 日 止
				h4 明星賽賽程
				p 4 月 26 日 （五） - 壘球明星賽 @ 台北大學壘球場
				p 4 月 30 日 （二） - 籃球三分球大賽（預賽）@ 文院籃球場
				p 5 月 1 日 （三） - 籃球明星賽、籃球三分球大賽（決賽）@ 文院籃球場
				p 5 月 2 日 （四） - 女排明星賽 @ 文院排球場
				p 5 月 3 日 （五） - 男排明星賽 @ 文院排球場
		div.row-fluid
			div.span12
				h2 初選報名
		div.row-fluid.well
			div.span12
				h4 壘球
				p 各系提名五人（位置不限），但不得更改位置，每隊選拔人數為 14 人（兩名投手、七名內野手、五名外野手）
				h6 投票每人 投手 2 票、外野手 4 票、內野手 6 票
				h4 籃球
				p 各系提名三人，每隊選拔人數 12 人（後衛及小前鋒 7 名、大前鋒及中鋒 5 名）
				h6 投票每人 10 票 ( 男女籃合併選舉 )
				h4 排球
				p 各系提名三人
				p 男排一隊錄取 11 人，分為主攻手 3 名、欄中手 3 名、舉球手 4 名、自由球員 1 名
				h6 投票每人 主攻手 2 票、欄中手 2 票、舉球員 2 票、自由球員 1 票
				p 女排一隊錄取 10 人，分為攻擊手 6 名、舉球手 4 名
				h6 投票每人 攻擊手 3 票、舉球員 2 票
		div.row-fluid
			div.span12
				h2 網路初選
		div.row-fluid.well
			div.span12
				h4 權值計算
				p 北大學生投票得票率 x 85% + 臉書按讚數 x 15%
				h4 北大學生投票
				p 限定由北大學生參與投票，而每名學生對於每項運動之位置擁有一張選票的投票權。
				h4 臉書分享數與按讚數
				p 學生會粉絲團相簿球員相片之按讚及分享數 ( 但並不包含轉分享之按讚分享數 ) ，此部份由人工計票。
		div.row-fluid.footer
			footer.span12
				span.footer-text 主辦單位
				a(href='http://facebook.com/NTPUSU', title='國立臺北大學學生自治會')
					img.logo(src='/images/sulogo.png', target='_blank')
				span.footer-text 協辦單位
				a(href='http://www.shockpaper.com', title='Shock! 三峽客地方媒體')
					img.logo(src='/images/shocklogo.png', target='_blank')
		div.row-fluid.footer
			div.span12.coop-union 合作聯盟
				img.logo(src='/images/softball-un.png')
				| 國立臺北大學壘球聯盟
				img.logo(src='/images/basketball-un.png')
				| 國立臺北大學籃球聯盟
				img.logo(src='/images/volleyball-un.png')
				| 國立臺北大學排球聯盟
				
